<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Spawn.HDT.DustUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Spawn.HDT.DustUtility.Properties.Settings>
            <setting name="TestingApiKey" serializeAs="String">
                <value>173Yf6tNdOmshMfwiuPj0ryQf4nop1qOsQEjsnXRxBWd4Eu04C</value>
            </setting>
            <setting name="ProductionApiKey" serializeAs="String">
                <value>GHVSRXWrl5mshGjkuxK3TGDhP0ppp1bJJSKjsnRdaQpM3O8T2E</value>
            </setting>
            <setting name="ApiBaseUrl" serializeAs="String">
                <value>https://omgvamp-hearthstone-v1.p.mashape.com</value>
            </setting>
            <setting name="ResourcesBasePath" serializeAs="String">
                <value>/Spawn.HDT.DustUtility;component/Resources/Images/</value>
            </setting>
            <setting name="IconPath" serializeAs="String">
                <value>/Spawn.HDT.DustUtility;component/Resources/icon.png</value>
            </setting>
        </Spawn.HDT.DustUtility.Properties.Settings>
    </applicationSettings>
</configuration>